<div class="panel-group">
  <div class="panel panel-default">

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <span class="title pad-left-right">
                <h2>Contacts</h2>
              </span>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
            <div class="container">
              <div class="row">
                <label for="search-term">Search For:</label>
                <input type="text" #searchBox="" id="search-term" class="form-control" size="120" max="120"
                  (keyup)="search(searchBox.value)" placeholder="Enter a search value">

                <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <app-contacts-item *ngFor="let item of contacts | ContactsFilterPipe:term" [item]="item" dnd-draggable
        [dragEnabled]="true" [dragData]="item" [dropZones]="['contactGroup']">
      </app-contacts-item>
    </div>

  </div>
</div>