<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Navigation Points</h2>

    <div class="card-group">

        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/notices.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Notices</h5>
                <p class="card-text">Most recent updates</p>
            </div>
            <a href="/notices" class="btn btn-primary">Notices</a>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/resources.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Resourcess</h5>
                <p class="card-text">Most recent resources</p>
            </div>
            <a href="/resources" class="btn btn-primary">Resources</a>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/videos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Videos</h5>
                <p class="card-text">Most recent videos</p>
            </div>
            <a href="/videos" class="btn btn-primary">Videos</a>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/maps.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maps</h5>
                <p class="card-text">Most recent maps</p>
            </div>
            <a href="/maps" class="btn btn-primary">Maps</a>
        </div>

    </div>
</div>