<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-7">
          <h3>{{item.name}}</h3>
          <img src="{{item.imageUrl}}">
        </div>
        <div class="col-md-5">
          <div class="row">
            <a class="btn btn-info" routerLink="edit">Edit</a>
            <a class="btn btn-danger" (click)="onDelete()">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <label>Email: </label>
        <p *ngIf="(item | json) != '{}'"> {{item.email}}</p>
      </div>
      <div class="row">
        <label>Phone: </label>
        <p *ngIf="(item | json) != '{}'">{{item.phone}}</p>
      </div>
    </div>
  </div>
</div>