<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
      <div class="row pad-all">
        <h4 class="title margin-left-right">{{item?.title}}</h4>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">    
          <!-- <button type="button" class="btn btn-primary me-md-2"><i class="fa fa-envelope">View</i></button> -->
          <button type="button" class="btn btn-secondary me-md-2"><i class="fas fa-edit">Edit</i></button>
          <button type="button" class="btn btn-danger" (click)="onDelete()"><i class="far fa-trash-alt">Delete</i></button>          
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="pad-left-right">
        <div class="row">
          <label>Message:{{item?.message}}</label>
          <span class="label-value"><p></p></span>          
        </div>
        <br>
        <div class="row">
          <label>Type:{{item?.type}}</label>
          <span class="label-value"><p></p></span>
        </div>
      </div>
    </div>
  </div>
