<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h3>Videos</h3>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success pull-right">New Video</button>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="center-panel" *ngFor="let item of items">
        <app-videos-item [video]="item"></app-videos-item>
      </div>

    </div>

  </div>
</div>